.cpArticle {
  @extend %primSecWidth; padding: 20px 20px 60px;
  border-radius: 16px;
  line-height: 2;
  background-color: $white;
  box-shadow: $shadowColor 0 0 12px;


  blockquote{
    position: relative;
    padding: 30px 48px 40px 66px; margin:2em 0 1em 8%;
    border-radius: 8px;
    background: $grayLight;

    &::before{
      content: '“';
      position: absolute; font-size: 144px; left: 8px;top: -.4em;
      font-family: Arial, Helvetica, sans-serif;
      color: $assistant1;
    }
    p{ padding-right: 1em;}

    p:last-of-type{
      &::after{
        content: '“'; float: right; 
        line-height: 0; height: 0; 
        margin: -4px -50px auto auto;
        font-size: 144px;
        font-family: Arial, Helvetica, sans-serif;
        color: $assistant1;
        transform: rotate(180deg);
      }
   
    }
    footer{ clear: both; margin-top: 2em;}
  }

  a{color: $linkColor;
    &:hover, &:focus{text-decoration: none;}
    &:focus{outline: 1px solid $linkColor;}
  }

  p{ margin: 1.2em 0;}
  ul, ol{margin: 1.2em 0 2em;}

  // 內文標題
  h3, h4, h5, h6{
    line-height: 1.6;
    margin: 3rem 0 .4rem;font-weight: normal;
    & + p{margin-top: .5rem;}
  }
  h3{ font-size: 1.35em; }
  h4{ font-size: 1.25em;}
  h5{ font-size: 1.15em;}
  h6{ font-size: 1rem;}

  figure{
    border: 1px solid $borderColor; padding: 6px;
    display: block; margin: 0 auto 2em; max-width: 1024px;
    img{display: block; width: 100%; max-height: 65vh; object-fit: contain;}
    figcaption{
      display: block; width: 100%; margin: .5em 0 0;
      line-height: 1.5; font-size: .82em;
    }
  }

  // 文章內表格樣式
  table{
    border-collapse: collapse; width: 100%; margin: 0 auto;
    border: 3px solid $borderColor;
    line-height: 1.5;

    th, td{
      padding:.5em .6em;
      border: 1px solid $borderColor;
    }
    tr:first-child{
      th{ background-color: $grayLight; border-bottom-color: $borderColor;}
    }
    th:first-child{background-color:$grayLight; }
  }

  // 文章內嵌入影像
  .video{
    margin: 50px auto; width: 100%; max-width: 880px;
    background-color: #000;
    &:last-child{margin-bottom: 0;}
    iframe{
      display: block; margin: 0 auto;border:none;
      width: 100%; height: $mobileWidth*.5625;
      max-width: 880px; max-height: 495px;
    }
  }


  // 物種資訊
  .speciesInfo{
    margin: 3em auto;
    &>h3{
      line-height: 1.4; margin: 0 0 1em;
      small { font-weight: 300; font-size: .8em;}
    }
    p{
      margin: .8em 0; line-height: 1.6;
      &.c1{ font-size: 1.15em;}
      &.c2{ font-weight: bold; color: $primary;}
    }
  }


  @media screen and (min-width: $wwNormal){
    padding: 40px 35px 60px;
    figure{
      img{ max-height: none;}
      &.float{
        float: left;
        width: 50%; margin: 1em 1.2em .5em 0;
      }
    }

    blockquote{ margin-left: 20%;}
  }

}


// --------------------------------------------------------------- //
// 主題圖，由使用者後端上稿
.themePic{
  display: block; width: 100%; margin: 0 auto 30px;
  img{
    display: block; margin: 0;
    width: 100%; height: 60vw; object-fit: cover;
  }

  @media screen and (min-width: $wwMedium){
    img{height: 40vw;}
  }
  @media screen and (min-width: $wwMaximum){
    position: relative; width: 100vw; left: calc( $wwMaximum*.5 - 50vw);
    img{height: $wwMaximum*.4;}
  }
}


// --------------------------------------------------------------- //
// 機關，作者
.authors{
  @extend %primSecWidth; margin: 0 auto 12px;
  dl{
    line-height: 1.3; margin: 0;
    &>div{
      display: inline-block; margin-right: .8em; margin-top: .25em;
    }
  }
  dt, dd{ display: inline-block; margin: 0;}
  dt{
    color: $fontColorLight;
    &::after{content: '：';}
  }

  @media screen and (min-width: $wwNormal){
    margin-top: 10px;   overflow: hidden;

    dl{
      float: right;
      &>div{
        margin-right: 0;
        &+div{margin-left: 1.2em;}
      }
    }
  }
}




// --------------------------------------------------------------- //
// 附件下載, 相關連結, 相關圖檔 
.attachment, .seeAlso{
  @extend %primSecWidth; margin-bottom: 60px; margin-top: 60px;
    
  h3{font-size: 1.2em; margin: 0 0 .5em; line-height: 1.1; font-weight: normal;}
  ul, ol{margin: 0; padding: 0; list-style: none; line-height: 1.8;}
  a{text-decoration: none; }
}


// --------------------------------------------------------------- //
// 附件下載 
.attachment{
  &>ul{
    border-top: 3px solid $borderColor;
    border-bottom: 2px solid $borderColor;
    &>li{
      margin: 0; padding: 0 2px;
      border-bottom: 1px solid $borderColor;
      display: flex; flex-flow: row wrap;
      align-items: center; justify-content: flex-end;
    }
  }
  .fileName{ margin: 6px 0 3px; flex: 1 1 auto; }

  .downloadFiles{
    flex: 0 1 auto;
    li{margin:0 0 0 10px; padding:3px 0;}
    a{
      padding: 4px;display: block; color: $fontColor; font-size: .9rem;
      &:hover, &:focus {
        outline: none;
        .fileSize{text-decoration: underline;}
      }
    }
  }

  .fileType{ display: inline-block; vertical-align: middle;}
  .fileSize{margin-left: 5px;}
}

// --------------------------------------------------------------- //
// 相關連結 
.seeAlso{
  &>ol{
    border-top: 3px solid $borderColor;
    border-bottom: 3px solid $borderColor;
  }
  li{
    margin: 0; padding: 3px 2px;
    border-bottom: 1px solid $borderColor;
    &:last-child{ border: none;}
    a{
      position: relative; display: block; padding: .7em 14px .7em;
      color: $fontColor;
      transition: .2s;
      &::before{
        content: '';
        position: absolute; left: 0; top: 1.2em; width: 0; height: 0;
        border-style: solid; 
        border-width: 8px 0 8px 3px; border-color: $primary;
        transition:border-left-width .15s;
      }
      &:hover, &:focus{
        padding-left: 24px; padding-right: 4px;
        outline: none;
        &::before{
          border-color: transparent;
          border-left-color: $primary;
          border-width: 8px 0 8px 10px; 
        }
      }
      &:focus{
        box-shadow: $linkColor 0 0 0 1px inset;
      }
    }
  }
}