body{
  position: relative;
  margin: 0; padding: 0; 
  font-size: 1.125em; letter-spacing: .06em;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  background:$mainBgc;
  color: $fontColor;

  // transition: top .4s;

  *{ box-sizing: border-box; outline: none;}

  &.noScroll{ overflow-y: hidden;}
  &.largeFont{font-size: 1.4em;}
  &.smallFont{ font-size: .82em;}
  
  &.largeFont, &.smallFont{
    .webHeader{font-size: 1.125rem;}
  }

}
time{ letter-spacing: 0; }

// --------------------------------------------------------------- //
// --------------------------------------------------------------- //

.main{
  position: relative;margin: 0 auto;

  @media screen and (min-width: $wwNormal){
    &.mp{
      position: relative; padding-bottom: 80px;
      background: url(../images/mpMainBg.png) no-repeat 20px 140px;
      &::after{
        content: ''; display: block; clear: both;
      }
    }
    
    *::selection{
      color: $fontInvert; background-color: $primary;
    }
  }

  @media screen and (min-width: $wwMaximum){
    width: $wwMaximum;
  }
}


