// 條列頁

// --------------------------------------------------------------- //
// 項目 條列 ul, li
.list{
  @extend %primSecWidth;
  position: relative;
  &>ul{
    list-style: none; margin: 0; padding: 16px; line-height: 1.5;
    background-color: $white; border-radius: 16px;
    &>li{
      margin: 0 0 8px; padding: 0;
      p{ 
        flex: 1 1 auto;
        margin:0; padding: 12px 0 4px; font-size: 1.125em;
      }
      time{
        position: relative;
        flex: 0 0 6rem; padding:4px 0 6px; margin:0 12px 0 0;
        font-size: 1.3em; font-weight: bold;line-height: 1.15;
        white-space: nowrap; text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        transition: .25s;

        display: flex; flex-flow: column wrap; justify-content: center;

        .year{
          display: block; font-size: .8em; font-weight: normal;
        }
      }

      a{
        display: flex; align-content: center;
        position: relative; padding: .5em 5px .2em 0; padding: 0 5px 0 0;
        text-decoration: none; color: $fontColor; 
        border: 1px solid $borderColorLight;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        transition: .2s;
        
        &::before{
          content: ''; position: absolute;  left: 0; bottom: -1px; z-index: 9;
          width: 6rem; height: 2px;
          background-color: $borderColorDark;
        }
        &:hover, &:focus{ 
          border-color: $primary;
          &::before{
            background-color: $assistant2; bottom:0; height: 3px; 
          }
          time{ background-color: $primary; color: $white;}
        }
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    padding:25px 16px 20px;
    background-color: $white; 
    box-shadow: $shadowColor 0 0 16px;border-radius: 16px;
    &>ul{padding:0; background:none;}
  }

}


// 表格 table 條列 //
// --------------------------------------------------------------- //
.list{
  &.stickyHead {
    thead{ 
      position: sticky; top: 120px; z-index: 9;
      background-color: #f0f5f5;
      box-shadow: $borderColorDark 0 1px 0;
      tr{ border-bottom: none;}
    }
  }
  
  &>table{ 
    border-collapse: collapse; line-height: 1.6; 
    width: calc(100% - 8px); margin:4px;
    border-top: 2px solid $borderColorLight;
    border-bottom: 2px solid $borderColorLight;
    caption{
      font-size: 1.15em; font-weight: normal;
      padding: 0 0 .4em;
    }

    thead{
      tr{border-bottom-color: $borderColorDark;}
    }
    tbody tr:last-child{border-bottom: none;}

    tr{ border-bottom: 1px solid $borderColor; }
    th, td{
      padding: 15px; position: relative;
      &::after{
        content: ''; position: absolute;
         width: 1px; background: $borderColor; top: 4px; bottom: 4px; left: 0;
      }
      &:first-child{
        &::after{background-color: transparent;}
      }
    }

    td{
      text-align: center;
      &.aLeft{ text-align: left;}
      &.aRight{ text-align: right;}

      &.numb{ 
        text-align: right; width: 4em;
        &::after{content: '.'; position: static;}
      }
      &[data-th="Title"], &[data-th="title"] { text-align: left; font-size: 1.125em; }
      &>a{
        color: $fontColor; text-decoration: none; transition: .2s;
        &:hover, &:focus{
         text-decoration: underline;color: $fontColor; 
        }
      }
      time{ display: inline-block; white-space: nowrap; }

      .sPhoto {
        display: block; position: relative; width: 300px;
        img{ display: block; width: 100%;}
        a{
          &::before{
            content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0;
            transition: .3s;
          }
          &:hover{
            &::before{ 
              z-index: 9;
              box-shadow: $primary 0 0 0 4px inset,  $white 0 0 0 5px inset;
            }
          }
        }
      }
    }
  }


  @media screen and (max-width: calc($wwNormal - 1px)){
  }


  @media screen and (max-width: calc($wwNormal - 1px)){
    &>table{
      width: 100%; margin: 0;border: none;
      &.rwdTable{
        border: none;
        thead{display: none;}
        tr, th, td{ display: block;}
        tr{ 
          position: relative; overflow: hidden;
          padding: .5em 12px .4em; margin: 0 0 16px;
          border-radius: 8px; border: none;
          background-color: $white;
          box-shadow: $shadowColor 0 1px 4px;
        }
        tbody tr:last-child{border-bottom: 1px solid $borderColor;}
        th, td{
          position: static; padding: 0;margin: 0; text-align: left;
          border: none;
          &::after{display: none;}
        }
        td{
          padding:.5em 0; text-align: left;
          &::before {
            content: attr(data-th); display: inline-block; margin-right: .5em;
            font-size: .92em;
            color: $fontColorLight;
            background-color: $assistant1; color: $fontInvert;
            padding: 0 .6em 1px 5px; border-radius: 3px 1em 1em 3px
          }
          &.numb{
            padding-top: 0; padding-bottom: 0; padding-left: 7px;
            // position: absolute; top: .8em; left: 0;width: 2.4em; text-align: right;
            display: block; text-align: left; font-weight: normal; width: auto;
            &::before{ display: none;}
            &::after{display: inline-block;}
          }
          .sPhoto {margin: 10px 0 0; width: 100%;}
          .downloadFiles{ display: inline-block; vertical-align: top;}
        }
      }
    }
  }
}




// --------------------------------------------------------------- //
// 影音條列
.videoList{
  @extend %primSecWidth;
  ul{ list-style: none; margin: 0 auto; padding: 0;}

  &>ul>li{
    padding: 0; margin: 0 0 20px;
    border: none;
    background-color: $white;
    box-shadow: $shadowColor 0 0 12px;
    border-radius:8px 8px 16px 16px;
    overflow: hidden;
    a{
      display: block; padding: 0; 
      color: $fontColor; text-decoration: none;
      transition: .2s;
      &:hover, &:focus{
        dd{
          text-decoration: underline;
        }
      }
    }
  }
  .cover{
    img{display: block; width: 100%;height: $mobileWidth*.5625;object-fit: cover;}
    iframe {
      display: block;margin: 0;
      width: 100%;height: $mobileWidth*.5625;
    }
  }
  dl{
    text-align: left; padding: 0; margin:16px;
    line-height: 1.7;
    &>div{
      border-bottom: 1px solid $borderColorLight;
      padding: .5em 0 .4em;
      &:last-child{border-bottom: none;}
    }
    dt, dd{
      text-indent: 0; margin: 0; padding: 0; vertical-align: top;
    }
    dd{ display: inline;}
    dt{
      color: $fontColorLight;display: inline-block; 
      &::after{content: '：';}
    }

  }


  @media screen and (min-width: $wwMedium){
    &>ul>li{
      display: flex;margin-bottom: 24px;
      border-radius: 8px 16px 16px 8px;
      box-shadow: $shadowColor 0 8px 14px -4px;
      transition: .2s;
      &:hover{
        box-shadow: $primary 0 0 0 3px;
        transform: translateY(4px);
      }

      .cover{
        flex: 0 1 50%; margin: 0;
        background-color: $black;
        img, iframe{ width: 100%; height: $mobileWidth*0.5*.5625;}
      }

      &>a{flex: 1 1 50%;}

      dl{
        margin: 0 12px; padding: .8em 0;
        &>div{display: flex;}
        dt{ flex: 0 0 5.5em;white-space: nowrap;}
        dd{
          flex: 1 1 80%;
          display: -webkit-box; -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;overflow: hidden;
        }
      }
    
    }
  }

  @media screen and (min-width: $wwNormal){

    &>ul>li{
      .cover{
        max-width: 640px;
        img, iframe{ max-height: 360px;}
      }
      dl{
        margin: 0 20px;
      }
    }
  }

}
