// 現在位置（麵包屑） 
// --------------------------------------------------------------- //
.breadcrumb {
  @extend %primSecWidth; margin: 20px auto; padding: 4px 0 3px;
  font-size: 1em;
  ul, li{ list-style: none; margin: 0;padding: 0;}
  ul{line-height: 1.2; overflow: hidden;}
  li{
    float: left; position: relative;color: $fontColor;
    &:nth-child(n+2){
      padding-left: 1.3em;
      &::before{ content: '';position: absolute; left: .6em; top: .12em; 
        width: 1px; height: 1em;
        background: none; border-left: 1px solid $fontColor;
        transform: rotate(20deg);
      }
    }
    &:first-child{padding-left: 0;}
    a{
      display: block; text-decoration: none; color: $fontColor;
      border-bottom: 1px solid transparent;
        &:hover, &:focus{  border-bottom-color: $fontColor; color: $fontColor;}
    }
    &:last-child{
      color: #005a7f;
      a{color: #005a7f;}
    }
  }
}


// 內頁標題 
// --------------------------------------------------------------- //
.pageHeader{
  @extend %primSecWidth; margin: 0 auto; padding: 20px 0 5px;
  color: $fontColor; 
  h2{
    padding: 0; margin: 0 ;line-height: 1.5;font-size: 2em; 
  }

  @media screen and (min-width: $wwNormal){
    padding: 40px 0 5px;
  }
}


// 列印、分享、返回 等功能圖示
// --------------------------------------------------------------- //
.funcBar{
  --btnSize: 48px;
  --tinge: #{$primary};

  font-size: 1rem; z-index: 99; position: relative;
  letter-spacing: 0;
  ul{ list-style: none; margin: 0;padding: 0; text-align: center;}
  &>ul{
    display: flex; flex-flow: row wrap; justify-content: flex-end;
    &>li{
      position: relative; margin:5px 3px;padding:0;
      height: var(--btnSize);
      &>a, &>button{
        display: block;
        margin:0; padding:0 0 var(--btnSize); width: var(--btnSize);
        height:1.5em; line-height:1.5;
        font-size: .92rem; text-decoration: none;  font-weight: 300;
        color: transparent;
        border: none; background: none; box-shadow: none; white-space: nowrap;
        transition: .3s;
        &::after{
          position: absolute; left: 0; bottom: 0;
          content: ''; width: var(--btnSize); height: var(--btnSize);
          background-color: var(--tinge); 
          background-repeat: no-repeat; background-position: center center;
          color: $fontInvert; border: none; border-radius: 50%;
          transition: .2s;
        }
        &:hover, &:focus{
          margin-top: -24px;
          padding-bottom: calc(var(--btnSize) + 24px); 
          color: $fontColor;
          &::after{
            box-shadow: $primary 0 0 0 3px;
          }
        }
      }
      &.back>a::after{
        background-image: url(../images/icon_back.png);
        background-size: 36px;
      }
      &.print>button::after{
        background-image: url(../images/icon_print.png);
        background-size: 24px;
      }
      &.share>button::after{
        background-image: url(../images/icon_share.png);
        background-size: 24px;
      }
    }
  }
}


// 文字大小 
// --------------------------------------------------------------- //
.fontSize{
  .smallFont{ font-size: .875rem;}
  .mediumFont{ font-size: 1rem;}
  .largeFont{ font-size: 1.25rem;}

  &>.smallFont::before{content: '小'; font-size: .4em;}
  &>.mediumFont::before{content: '中'; font-size: .4em;}
  &>.largeFont::before{content: '大';font-size: .4em;}

  // &.compound>button{position: relative; z-index: 19;}

  &.compound>button{
    
    // border-radius: 50%;
    background-color: var(--tinge);
    color: $fontInvert;
    background-color: transparent;

    &::before{
      line-height: var(--btnSize);
      color: $fontInvert;
      text-indent: 0;
    }

    &::after{
     top: 0;
      z-index: -1;
      // background-color: transparent;
      // display: none;
    }

    &:hover, &:focus{
      margin-top: 0;
      padding-bottom:0; 
      color: $fontInvert;
      &::after{
        // bottom: 0 !important;
       top: 0;
      }

    }
  }

  // 第二層
  & > ul{
    position: absolute; top: 0; left: 0; 
    display: none; margin-top: -2px;
    width: var(--btnSize); 

    button{
      border: none;background: none; box-shadow: none;
    }
    
    &>li{
      position: absolute; top: 0; left: 0; margin: 4px 0; padding: 0;
      &>button{
        width: var(--btnSize);height: var(--btnSize);
        display: block;border-radius: 50%;
        // text-indent: -15em; overflow: hidden;
        // background-color: transparent;
        border: none; background-color: $primary; color: $fontInvert;
        transition: .2s;
        &:hover, &:focus{
          box-shadow:$white 0 0 0 1px, $primary 0 0 0 4px;
          // background-color: transparent;
        }
      }
      // img{
      //   display: block; width: 100%; height: 100%; 
      //   margin: 0 auto;border-radius: 50%;
      // }
    }
  }

  &.compound>button{position: relative; z-index: 19;}
}


// 列表上方的文字
// --------------------------------------------------------------- //
.preface{
  @extend %primSecWidth; 
  padding:2em 2.5em; line-height: 2;
  background: $white; color: $fontColor;
  border: 4px solid $assistant1;
  box-shadow: rgba(0,0,0, .2) 0 24px 10px -16px;
  p{
    margin: 0;
    &+p{ margin-top: 1.2em;}
  }

  @media screen and (min-width: $wwNormal){
    margin-bottom: 40px;
  }
}


// 查詢服務
// --------------------------------------------------------------- //
.searchInline{
  @extend %primSecWidth;

  --inputHeight: 44px;

  display: flex; align-items: center;
  padding: 6px; border-radius: 2em;
  background-color: $assistant1;
  &:last-child{margin-bottom: 40px;}
  .label{flex: 0 0 auto;margin: 0 0 0 .6em;white-space: nowrap;}
  input[type="text"]{
    flex: 1 1 70%;
    height: var(--inputHeight); border-radius: 2em;
    padding: 0 1em; margin: 0 8px; 
    box-shadow: none; background-color: $white;
    color: $fontColor;
    transition: .2s;
    &::placeholder {
      color: $fontColorLight;
      opacity: 1; /* Firefox */
    }
    &:hover{box-shadow: transparent 0 0 0 0, $white 0 0 0 1px;}
    &:focus{box-shadow: $assistant1 0 0 0 1px, $white 0 0 0 3px;}
  }

  button{
    --tinge : #fff;
    @extend %searchIcon;

    width: var(--inputHeight); height: var(--inputHeight);
    padding: 0; margin: 0; border-radius: 50%;
    background-color: $primary; color: $white;
    transition: .2s;
    &:hover, &:focus{ box-shadow:$white 0 0 0, $primary 0 0 0 1px;}
    &:focus{box-shadow:$white 0 0 0 1px, $primary 0 0 0 4px;}
  }

  @media screen and (min-width: $wwMedium){
    width:30em; margin-left: 4vw;
  }

  @media screen and (min-width: $wwMaximum){
    margin-left: $wwMaximum*.04;
    &:last-child{margin-bottom: 80px;}

  }

}


// 各種檔案格式的代表圖示
// --------------------------------------------------------------- //
.fileType{
  display: block; position: relative; 
  margin: 0; width: 2.4rem; height: 2.7rem; line-height:3.8rem;
  font-size: .8125rem; text-decoration: none; text-align: center;
  color: $fontInvert; background-color: #aaa; transition: .2s;

  &::before{
    content: ''; position: absolute; top: 8px; left: 8px; right: 8px; height: 1px;
    background-color: rgba(255,255,255,.7);
    box-shadow: rgba(255,255,255,.7) 0 5px 0, rgba(255,255,255,.7) 0 10px 0;
  }

  &.mp3, &.mp4, &.mov, &.wmv{
    &::before{
      width: 0; height: 0; top: 10px; left: 16px; right: auto;
      background-color: transparent;box-shadow: none;
      border-style: solid;border-width: 5px 0 5px 8px;
      border-color: transparent transparent transparent rgba(255,255,255,.8);
    }
  }
  &.jpg{
    &::before{
      width: 10px; height: 10px; top: 9px; right: auto; left: 8px;
      background-color: rgba(255,255,255,.8);box-shadow: none;
    }
    &::after{
      position: absolute; content: '';
      width: 12px; height: 12px; top: 8px; right: 7px; left: auto;
      border-radius: 50%;
      background-color: rgba(255,255,255,.8);box-shadow: none;
    }
  }

  &.pdf {background:#c00;
    &:hover, &:focus{box-shadow:rgba(255,255,255,.6) 0 0 0 1px inset, #c00 0 0 0 2px;}
  }
  &.doc , &.docx, &.odt{
    background:#1b76cb;
    &:hover, &:focus{box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #1b76cb 0 0 0 2px;}
  }
  &.xls, &.xlsx, &.csv, &.ods {
    background:#48920f;
    &:hover, &:focus{box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset,  #48920f 0 0 0 2px;}
  }
  &.ppt, &.pptx, &.odp{
    background:#c43e1c;
    &:hover, &:focus{box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #c43e1c 0 0 0 2px;}
  }
  &.txt {
    background:#1d98e4;
    &:hover, &:focus{box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #1d98e4 0 0 0 2px;}
  }
  &.jpg {
    background:#0b9fb2;
    &:hover, &:focus{box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #0b9fb2 0 0 0 2px;}
  }
  &.mp3, &.mp4 {
    background:#9d3a89;
    &:hover, &:focus{box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #9d3a89 0 0 0 2px;}
  }
  &.mov, &.wmv{
    background:#5843a9;
    &:hover, &:focus{box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #5843a9 0 0 0 2px;}
  }
  &.zip {
    background:#333;
    &:hover, &:focus{box-shadow:rgba(255,255,255,.6) 0 0 0 1px inset, #333 0 0 0 2px;}
  }
  &.other {background:#555;
    &:hover, &:focus{box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #555 0 0 0 2px;}
  }
}
a .fileType{ color: $fontInvert;text-decoration: none; }
a:hover, a:focus {
  .fileType {
    color: $fontInvert;text-decoration: none;
    &.pdf {
      box-shadow:rgba(255,255,255,.6) 0 0 0 1px inset, #c00 0 0 0 2px; }
    &.doc , &.docx, &.odt{
      box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #1b76cb 0 0 0 2px; }
    &.xls, &.xlsx, &.csv, &.ods {
      box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset,  #48920f 0 0 0 2px; }
    &.ppt, &.pptx, &.odp{
      box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #c43e1c 0 0 0 2px; }
    &.txt {
      box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #1d98e4 0 0 0 2px; }
    &.jpg {
      box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #0b9fb2 0 0 0 2px; }
    &.mp3, &.mp4 {
      box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #9d3a89 0 0 0 2px; }
    &.mov, &.wmv{
      box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #5843a9 0 0 0 2px; }
    &.zip {
      box-shadow:rgba(255,255,255,.6) 0 0 0 1px inset, #333 0 0 0 2px; }
    &.other {
      box-shadow: rgba(255,255,255,.6) 0 0 0 1px inset, #555 0 0 0 2px; }
  }
}

// 檔案下載
// --------------------------------------------------------------- //
.downloadFiles{
  list-style: none; margin: 0; padding: 0; overflow: hidden;
  li{
    float: left; margin: 3px;
    a{ display: block;  margin: 0; padding: 0; text-decoration: none;}
  }
}