.pagination { 
  margin: 3em 0 0; padding: 10px 0;
  text-align: center;font-size: 1em; line-height: 1.5;
  letter-spacing: 0;
  form{ display: inline-block;}
  input, select{font-size: inherit; height: 2.4em; line-height: 2.4;}
  select{ background-position:right 8px top .95em;}
  a{text-decoration: none;}
  em{
    display: inline-block; margin: 0 .4em; 
    font-style: normal; font-weight: bold; color: $fontColor;
  }

  .items{ display: inline;
    a{ display: inline-block; font-weight: bold;  color: $fontColor;
      height: 1.8em; line-height: 1.9; margin:0 3px;padding: 0 6px;
      border-radius: 3px;
      transition: .2s;
      &:hover, &:focus{box-shadow: $primary 0 0 0 2px;}
      &.active{ background-image: linear-gradient( #000 , #363636 80%); color: $fontInvert; }
    }
  }

  .page{ 
    list-style: none; line-height: 1; 
    display: flex; flex-flow: row wrap; justify-content: center;
    margin:8px auto; padding: 3px; 
    &>li{ margin: 3px; flex: 0 0 auto;
      a{ display: block; min-width: 2.5em; height: 2.5em; line-height: 2.5em;
        color: $fontColor; border-radius: 3px;
        transition: .2s;
        &:hover, &:focus{ box-shadow: $primary 0 0 0 2px;}
      }
      &.active{
        a{  color: $fontInvert; background-color: $primary;}
      }

      &.first, &.prev, &.next, &.last{  text-indent: -20em;
        a{ position: relative; width: 2.5em; overflow: hidden;
          &::before, &::after{content: ''; position: absolute; top: 50%;}
          &::after{
            width:8px; height:8px; 
            border: 2px solid $fontColor; border-top: none; border-right: none;
            margin-top: -5px;
          }
        }
      }
      &.first , &.last{
        a::before{width: 2px; height: 14px; background:$fontColor;
           transform: translateY(-50%);
        }
      }
      &.first, &.prev{
        a{padding-left: 25px; padding-right: .6em; 
          &::after{ transform: rotate(45deg);left: 13px;} 
          &::before, &::after{margin-left: 4px;}
        }
      }
      &.first a{
        &::after{ left: 14px;}
        &::before{ left: 10px;}
      }
      &.next, &.last{
        a{padding-right: 25px; padding-left: .6em;
          &::after{ transform: rotate(225deg); left: auto; right: 13px;}
          &::before, &::after{margin-right: 4px;}
        }
      }
      &.last a{
        &::after{ right: 14px;}
        &::before{right: 10px;}
      }
    }
  }

  @media screen and (min-width: $wwMedium){
    .page{
    }
  }

}
