// header 右上的簡易查詢
// --------------------------------------------------------------- //
.search{
  --tint: #{$white};
  --inputHeight: 3em;

  display: none; margin-left: -100vw;
  position: fixed; top: 84px; left: 0; z-index: 930;
  width: 100vw;
  padding: 18px 4vw;
  font-size: 1.2rem;
  background-color: rgb(0 0 0 /.8);
  transition:margin-left 500ms;

  &.reveal { margin-left: 0;}

  input, button {
    margin: 0;  font-size: inherit; 
    border:none; outline: none; 
    background: none; box-shadow: none;
  }

  input[type="text"]{
    height: var(--inputHeight); 
    
    display: block; width: 100%;
    padding: 0 var(--inputHeight) 0 1em; border-radius: 1.5em;
    box-shadow: var(--tint) 0 0 0 2px;
    color: var(--tint);
    transition: .2s;
    &::placeholder {
      color: var(--tint);
      opacity: 1; /* Firefox */
    }
    // &:hover, &:focus{ box-shadow: $white 0 0 0 2px, $primary 0 0 0 4px;}
  }

  input[type="submit"], input[type="button"], button:not(.skip) {
    position: absolute; left: auto; top: calc(50% - var(--inputHeight)*.5 + 3px ); right: calc(4vw + 3px);
    height: calc(var(--inputHeight) - 6px); width: calc(var(--inputHeight) - 6px); 
    border-radius: 50%;
    text-indent: -10em; overflow: hidden; cursor: pointer;
    background: url(../images/icon_search.svg) no-repeat center center;
    background-size: 60%;
    transition: .2s;

    &:hover, &:focus{
      background-color: $primary;
    }
  }

  @media screen and (min-width: $wwNormal){

    --tint: #{$primary};
    --inputHeight: 2.4em;

    display: block; float: right; width: 16%;
    position: relative; top: auto; right: auto; 
    margin:16px 0 0; padding:0;
    background: none; box-shadow: none;
    
    input[type="text"]{ width: 100%; }
    input[type="submit"], input[type="button"], button:not(.skip){
      right: 3px; top: 3px;
      background-color: $primary;
    }
    button.skip{ display: none;}
  
  }

  @media screen and (min-width: $wwMaximum){
    width: $wwMaximum*.16;
    margin-right:  calc(50vw - $wwMaximum*.5);
  }
}


// --------------------------------------------------------------- //
// --------------------------------------------------------------- //

// 在首頁的 search 與在內頁不同
// --------------------------------------------------------------- //
.webHeader.mp{

  // .search{
  //   --tint: #{$white};

  //   position: absolute; margin: 0;padding: 0;
  //   left: auto; top: 55px; right: 3vw;  width: 280px;
  //   background: none;
  
  //   input[type="text"]{
  //     padding:0 2.5em 0 1em;
  //   }
  //   input[type="submit"], input[type="button"], button:not(.skip){
  //     background-color: transparent;
  //     &:hover, &:focus{background-color: $assistant1; }
  //   }
  // }

  @media screen and (min-width: $wwNormal){

    &:not(.fixed){
      .search{
        --tint: #{$white};
    
        position: absolute; margin: 0;padding: 0;
        left: auto; top: 55px; right: 3vw;  width: 280px;
        background: none;
      
        input[type="text"]{
          padding:0 2.5em 0 1em;
        }
        input[type="submit"], input[type="button"], button:not(.skip){
          background-color: transparent;
          &:hover, &:focus{background-color: $assistant1; }
        }
      }
    }


    // 首頁固定版頭時
    &.fixed{
      .search{
        --tint: #{$primary};
  
        // float: right; width: 16%;
        // position: relative; top: 24px; right: auto; margin: 0;
  
        // input[type="text"]{
        //   width: 100%;
        //   &:hover, &:focus{
        //     background-color: transparent;
        //     box-shadow: var(--tint) 0 0 0 1px;
        //   }
        // }
        // input[type="submit"], input[type="button"], button:not(.skip){
        //   background-color: $primary;
        // }
      }
    }
  }

  @media screen and (min-width: $wwMaximum){
    &:not(.fixed){
      .search {right:calc(50vw - $wwMaximum*.47);}
    }
    &.fixed .search{  width: $wwMaximum*.16; margin-right: calc(50vw - $wwMaximum*.5); }
  
  }

}
