.tabset{
  --tabBg: #{$primary};
  --tabContentBg: #fff;
  --color: #{$fontInvert};

  @extend %primSecWidth;


  .tabButtons{
    padding: 5px 0 0; overflow: hidden;
    display: flex; position: relative;
    font-size: 1rem;
    button{
      flex: 0 1 auto; width: 8em;
      height: 3.1em;line-height: 1.15; padding: 0 4px .6em; margin: 0 2px -8px 0;
      border-radius: 8px 8px 0 0;
      font-size: inherit; font-family: Georgia, 'Times New Roman', Times, serif;
      letter-spacing: 0;
      background-color: var(--tabBg); color: var(--color);
      &:hover{ color: $assistant2;}

      &:last-child{margin-right: 0;}

      .year{ display: none;}
      .month, .date{ display: inline-block; font-size: .9em;}
      .month{
        &::after{ content: '/'; }
      }

      &.active{
        --tabBg: var(--tabContentBg);
        --color: #{$primary};

        position: relative; z-index: 9;
        font-weight: bold;white-space: nowrap;
        margin-right: 3px; margin-left: 1px;
        transform: translateY(-3px);
        box-shadow: var(--color) 0 0 0 2px;
        &:hover{ color: var(--color);}

        &:first-child{margin-left: 2px;}
        &:last-child{margin-right: 2px;}
        
        .year{ display: block;font-size: .6em;}
        .month, .date{ display: inline; font-size: 1em;}
        .month::after{ content: '/'; display: inline;}
      }
    }

    &::after{
      content: ''; position: absolute; left: 0;right: 0; bottom: 0;
      height: 2px; background-color: var(--tabBg);
    }
  
  }

  .tabContent{
    display: none;
    
    padding: 30px 2.5vw; line-height: 1.8;
    border-radius: 0 0 16px 16px;
    border: $primary 2px solid; border-top: none;
    background-color: var(--tabContentBg);

    &:nth-of-type(1){display: block;}

    img{ 
      display: block;  clear: both;
      margin: 20px auto 40px; padding: 5px; 
      width: auto; max-width: 100%; height: auto;
      background-color: #fff;
      box-shadow: $shadowColor 0 4px 16px;
      position: relative;
    }

    p{margin: 0 0 1em;}
  }


  @media screen and (min-width: $wwNormal){
    .tabButtons{
      button{
        .year{display: block; font-size: .85em;}
        .month, .date{ font-size: 1em;}
        
        &.active{
          padding-left: 6px; padding-right: 6px;
          .year{ 
            display: inline-block; font-size: inherit;
            &::after{content: '/';}
          }
        } 
      }
    }
    .tabContent{
      padding-left: 25px; padding-right: 25px;
      img{max-width: 70%; padding: 8px;}
    }
  }
}