// 參與團隊（特定頁面樣式）
// --------------------------------------------------------------- //
.teamList{
  .team{
    display: block; margin: 20px auto; padding: 0; max-width: 36em;
    &:first-child{margin-top: 26px;}
    &:last-child{margin-bottom: 0;}
    &>a{
      display: block; height: 100%; padding: 16px;
      text-decoration: none; outline: none;
      color: $fontColor; background-color: $white;
      box-shadow:$borderColorLight 0 2px 0 -1px;
      
      transition: .2s;
      &:hover, &:focus{
        box-shadow:$borderColorLight 0 0 0 1px, $shadowColor 0 12px 18px -4px;
        transform: translateY(-3px);
      }
    }
    .teamLogo{
      display: inline-block; width: 24%; margin: 0 2% 0 0;
      vertical-align: middle;
      img{
        display: block; margin: 0; 
        width: 100%; height: auto; object-fit: contain;
      }
    }
    p{
      display: inline-block;vertical-align: middle;
      margin: 0; width: 72%;
      font-size: 1.2em;line-height: 1.5;
    }
  }


  @media screen and (min-width: $wwNormal){
    .team{
      max-width: 42em;
      &>a { padding: 24px;}
      p { font-size: 1.4em}
    }
  }
}
