.thumbnail{
  @extend %primSecWidth;

  ul{list-style: none; margin: 0; padding: 0;}
  &>ul{
    line-height: 1.1;
    &>li{
      margin: 0 0 20px;padding: 0;
      &>a{
        position: relative; display: block;height: 100%;
        box-shadow: $borderColor 0 0 0 1px, $shadowColor 0 0 0;
        background-color: $white;color: $fontColor; text-decoration: none;
        transition: .3s;
        &:hover, &:focus{
          box-shadow: $white 0 0 0 4px, $shadowColor 0 0 20px;
          outline: none;
          p, h3{text-decoration: underline;}
          .pic{
            img{transform: scale(1.1);}
          }
        }
      }

      time{ display: block;}
      img{ display: block; width: 100%; }


      .label{ position: absolute; right: 4px; top: -3px; 
        height: 2.1em; line-height: 2.3em; padding: 0 1em;
        background-color: $assistant1; color: $fontInvert;
        border-radius: 2px 2px 6px 6px; box-shadow: #0004 0 2px 3px; z-index: 9;
      }

      p{ 
        margin: .5em 10px; line-height: 1.5;
        display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;
        overflow: hidden;

        &.title{ 
          display: block; white-space: nowrap; text-overflow: ellipsis;
          font-size: 1.2em; font-weight: normal;
        }
        &.description{ font-size: 1rem;}
      }

      .count{
        height: 1.8em; line-height: 1.7; padding: 0;
        font-size: 1rem; font-weight: normal;
      }
      

      .pic{
        width: 100%; margin: 0;overflow: hidden;
        img{ transition: .4s;}
      }
      
      .info{
        overflow: hidden; padding:16px 10px;
        p{ margin-left: 0; margin-right: 0;}
        .title{ float: left; margin: 0 1em 0 0;}
        .count{ float: right;}
      }
    }
  }

  @media screen and (min-width: $wwMedium){
    &>ul{
      display: flex; flex-flow: row wrap; justify-content: flex-start;
      &>li{
        flex: 0 0 calc(50% - 8px); width: calc(50% - 8px); margin-right: 16px;
        &:nth-child(2n){ margin-right: 0;}
        img{ object-fit: cover; height: calc(($mobileWidth*.5 - 8px)*.75); }
        //img  w:h = 4:3
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    &>ul{ 
      &>li{ 
        flex-basis: calc(33.3333% - 12px); width: calc(33.3333% - 12px);
        &:nth-child(n){margin-right: 18px;} 
        &:nth-child(3n){margin-right: 0;}

        img{ height: calc(($normalWidth/3 - 12px)*.75); }
      }
    }
  }

  @media screen and (min-width: $wwMaximum){
    &>ul{ 
      &>li{
        img{height: calc(($wwMaximum*.3067 - 12px)*.75);}
      }
    }
  }

}




