// ---------- 長度常數 ---------- //
$sideBarWidth: 300px;  // 窄版側欄選單
$mobileWidth: 92vw; // 窄螢幕內容寬度
$normalWidth: 92vw; // 寬螢幕內容寬度
// ---------- 長度常數 ---------- //


// ---------- RWD 斷點 ---------- //
$wwSlim: 480px;
$wwMedium: 700px;
$wwNormal: 1000px;
$wwMaximum: 1440px;
// ---------- RWD 斷點 ----------- //


// 主要區塊寬度 ----------- //
%primSecWidth {
  width: 92%; margin: 5px auto 30px;
  @media screen and (min-width: $wwNormal){
    // margin-top: 25px;
  }
  @media screen and (min-width: $wwMaximum){
    width: $wwMaximum*.92; 
  }
}


// ---------- 顏色變數 ----------- //
$primary: #2D7172;
$assistant1: #7db3b4;
$assistant2: #FCD24D;
$fontColor: #151515;
$fontColorLight: #6c7070;
$fontInvert: #fff;
$focus: #2D7172;
$hover: #ffeb69;
$linkColor: #069;

$borderColor: #c1c4c6;
$borderColorLight: #d2d2d2;
$borderColorDark:#434242;

$btnBg1: $primary;
$btnBg2: #01425c;

$white: #fff;
$black: #000;
$gray: #9db0b0;
$grayLight: #edf0e5;
$grayDark: #515656;
$mainBgc:#f1f4f9;

$shadowColor: rgba(85, 96, 97, .5);
// ---------- 顏色變數 ----------- //